# -----------------------
# Python
# -----------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
venv/
env/
ENV/

# dotenv (IMPORTANT - hide secrets)
.env

# -----------------------
# Node / React
# -----------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# build output
build/
dist/

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# IDE / Editor
# -----------------------
.vscode/
.idea/

# -----------------------
# Logs
# -----------------------
logs/
*.log

# -----------------------
# Misc
# -----------------------
coverage/
.cache/